


.general{
      display: flex;
    align-items: center;
    justify-content: center;
}
.divpri{
display: flex;
   justify-content: center;
    align-items: center;
}
.divpri{
    margin-top: 15px;

    
}
.nombre{
    margin-top: 75px;
}
