

.nombre{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nombre{
    margin: 4px;
}
.divpri{
    margin:50px;
    border: solid 2px;
    color: rgb(49, 47, 51);
}
.divpri{
    background-color: aqua;
}